$base-logo-height: 2.5em;
$base-logo-margin-top: 10px;
$base-menu-width: 15%;
$base-menu-collapsed-width: 62px;
$base-side-menu-background-color: #001529;
$base-side-menu-text-color: white;
$base-header-height: 50px;
